/* BOTOES */
/* Padrao para utilizar nos botoes */
.btn{
    height: 30px;
    border: solid;
    border-width: 1px;
    border-radius: 7px;
}

/* Botao Alterar*/
.btnAlterar{
    color: white;
    background-color: rgb(255, 165, 0, 0.7);
    transition: 0.5;
}

.btnAlterar:hover{
    background-color: rgb(255, 165, 0, 1);
}

/* Botao deletar */
.btnDeletar {
    color : rgb(255, 255, 255);
    background-color: rgb(220, 20, 60, 0.7);
    transition: 0.5s;
}

.btnDeletar:hover{
    background-color: rgb(220, 20, 60, 1);;
}

/* Botao de pesquisa */
.btnPesquisa{
    color: white;
    background-color: rgba(63, 98, 194, 0.6);
    transition: 0.5;
}
.btnPesquisa:hover{
    background-color: rgb(63, 98, 194);
}

/* Botao de cadastro */
.btnCadastro{
    color: white;
    background-color: rgba(60, 179, 113, 0.6);
    transition: 0.5;
}

.btnCadastro:hover{
    background-color: rgb(60, 179, 113);
}

.btnReturn{
    border: none;
    padding: 5px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: rgba(000, 000, 000, 0.0);
    transition: 0.5s;
}

.btnReturn:hover{
    background-color:  rgba(000, 000, 000, 0.1);
}

html, body { height: 100%; }

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
