<div class="conteudoPag">
    <div class="titulo">
        <p>
            <b id="tltInicio">Produtos </b>
        </p>
    </div>
    <div>
        <mat-form-field class="full-width">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ex. aspirina" #input>
        </mat-form-field>
    </div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let produto"> {{produto.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="preco">
                <th mat-header-cell *matHeaderCellDef> Preço </th>
                <td mat-cell *matCellDef="let produto"> R$ {{produto.preco}} </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let produto"> {{produto.descricao}} </td>
            </ng-container>

            <ng-container matColumnDef="criacao">
                <th mat-header-cell *matHeaderCellDef> Criado Em </th>
                <td mat-cell *matCellDef="let produto"> {{produto.criadoEm | date:"MMMM 'de' yyyy" }} </td>
                "dd/MM/yyyy"
            </ng-container>

            <ng-container matColumnDef="adicionar" >
                <th mat-header-cell *matHeaderCellDef> Adicionar </th>
                <td mat-cell *matCellDef="let produto">
                    <button (click)="addCarrinho()" class="btn btnAlterar">
                        Adicionar
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Nenhum produto encontrado : {{input.value}}</td>
            </tr>
        </table>
    </div>
</div>