<div class="conteudo">
    <mat-card id="cadastro" class="centro">
    <div class="botao">
        <button mat-raised-button color="" (click)="retornarProdutos()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
      <mat-card-title>Cadastro de Produtos</mat-card-title>
      
      <div class="campos">
        <mat-form-field class="campo">
          <mat-label>Nome:</mat-label>
          <input matInput name="nome" [(ngModel)]="produto.nome" />
        </mat-form-field>
        <mat-form-field class="campo">
          <mat-label>Codigo:</mat-label>
          <input matInput name="codigo" [(ngModel)]="produto.codigo" />
        </mat-form-field>
        <mat-form-field class="campo">
          <mat-label>Preco:</mat-label>
          <input matInput name="preco" [(ngModel)]="produto.preco" />
        </mat-form-field>
        <mat-form-field class="campo">
            <mat-label>Descricao:</mat-label>
            <input matInput name="descricao" [(ngModel)]="produto.descricao" />
          </mat-form-field>
        <div class="botao">
            <button mat-raised-button color="primary" (click)="cadastrar()" (click)="retornarProdutos()">Cadastrar</button>
        </div>
  </div>
  </mat-card>