<input 
    type="text" 
    placeholder="Nome do Produto"
    name="nome"
    [(ngModel)]="produto.nome"
/>

<input 
    type="text" 
    placeholder="Codigo do Produto"
    name="codigo"
    [(ngModel)]="produto.codigo"
/>
<input 
    type="number" 
    placeholder="Preço do Produto"
    name="preco"
    [(ngModel)]="produto.preco"
/>
<input 
    type="text" 
    placeholder="Descrição do Produto"
    name="descricao"
    [(ngModel)]="produto.descricao"
/>

<button (click)="cadastrar()">Cadastrar</button>