<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="open" fixedInViewport="true" fixedTopGap="65">
        <mat-nav-list>
            <a mat-list-item routerLink="/carrinho" *ngIf='tipoUsuario === "cliente"'>
                <span class="material-icons">
                    shopping_cart
                </span>
                Carrinho
            </a>
            <a mat-list-item routerLink="/cliente" *ngIf='tipoUsuario === "cliente"'>
                <span class="material-icons">
                    local_offer
                </span>
                Produtos
            </a>
            <a mat-list-item routerLink="/farma" *ngIf='tipoUsuario === "farmacia"'>
                <span class="material-icons">
                    local_offer
                </span>
                Produtos
            </a>
            <a mat-list-item routerLink="/transacoes" *ngIf='tipoUsuario === "farmacia"'>
                <span class="material-icons">
                    shopping_cart
                </span>
                Carrinho
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="conteudo">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>