<p>Produtos da farmacia: {{farmacia.nome | uppercase}}</p>
<button (click)="cadastrarProduto()">Cadastrar Produto</button>
<table>
    <tr>
        <th>Codigo</th>
        <th>Nome</th>
        <th>Preco</th>
        <th>Descricao</th>
        <th>Data Criacao</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let produto of produtos">
        <td>{{produto.codigo}}</td>
        <td>{{produto.nome}}</td>
        <td>{{produto.preco}}</td>
        <td>{{produto.descricao}}</td>
        <td>{{produto.criadoEm}}</td>
        <td><a routerLink="farma/{{cnpj}}/produto/{{produto.codigo}}">Alterar</a></td>
        <td><button (click)="removerProduto(produto)">Deletar</button></td>
    </tr>
</table>