<p>buscar-farma works!</p>
<input 
    type="text" 
    placeholder="CNPJ da Farmácia"
    name="cnpj"
    [(ngModel)]="farma.cnpj"
/>

<button (click)="buscar()">Pesquisar Farmácia</button>

<table>
    <tr>
      <th>ID</th>
      <th>CNPJ</th>
      <th>Nome </th>
      <th>Data do cadastro</th>
      <th></th>
    </tr>
    <tr>
      <td>{{farma._id}}</td>
      <td>{{farma.cnpj}}</td>
      <td>{{farma.nome}}</td>
      <td>{{farma.criadoEm | date: "dd/MM/yyyy hh:mm"}}</td>
      <td>
        <button (click)="navigateToUpdateFarma()">
          Alterar Farmácia
        </button>
      </td>
      <td>
        <button (click)="navigateToRemoveFarma()">
          Alterar Farmácia
        </button>
      </td>
    </tr>
  </table> 
 